datasets/
checkpoints/
results/
build/
dist/
pretrained_models/
*.png
*/**/__pycache__
docs/src/**/*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
.python-version
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/poselstm-pytorch.iml
.idea/vcs.xml
.idea/workspace.xml
model_netG_cambridge.txt
model_netG_euroc.txt
