# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\D_Drive\github_repo\poselstm-pytorch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
